.navbar {
  position: relative;
  z-index: 1000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px; /* Adjust size as needed */
  width: 30px; /* Adjust size as needed */
  padding: 0;
}

.hamburger-icon {
  display: block;
  width: 100%;
  height: 2px; /* Adjust thickness as needed */
  background-color: white; /* Adjust color as needed */
}

/* Default styles for main-nav (used for smaller screens) */
@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }
  .main-nav {
  display: none;
  }
  .main-nav.active {
  display: block;
  position: absolute;
  margin-left: 1em;
  padding-left: .5em;
  padding-right: .5em;
  }
  .main-nav li {
    list-style-type: none;
    width: max-content;
    display: table-cell;
    padding-left: .5em;
    padding-right: .5em;
  }
  .main-nav li a {color: #004167; }
  .main-nav ul {
    padding: inherit;
  }
  .menu-text {
    padding-left: 10px;
  }
}

/* Adjust main-nav for larger screens */
@media (min-width: 769px) {
  .main-nav {
    display: flex; /* Show the nav items in a row */
    align-items: center;
    justify-content;
    flex-grow: 1 
    /* Additional styling for larger screen nav items */
  }
  .main-nav ul {
    display: flex;
    margin-left: -30px;
  }
  .main-nav li {
    margin-bottom: 0; /* Reset margin for horizontal layout */
    margin-right: 20px; /* Spacing between items */
    list-style-type: none;
  }
  .main-nav li:last-child {
    margin-right: 0; /* No margin for the last item */
  }
  .main-nav li a {
    color: #004167; /* Adjust as needed */
    text-decoration: none;
  }
  .menu-text {
    padding-left: 10px;
  }
}
